<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="br.com.spolaorthays.filmoteca.movie" />
    </queries>

    <application>
        <activity
            android:name=".movie.presentation.MainActivity"
            android:exported="false" />
    </application>

</manifest>